@import "tailwindcss";

:root {
  --primary: #0066cc;
  --primary-dark: #0052a3;

  --success: #52a832;
  --warning: #f4c145;
  --danger: #c9190b;

  --background: #f4f5f7;
  --sidebar: #212327;

  --text-color: #d1d5dc;

  background-color: var(--background);
  color: var(--text-color);
  font-size: 14px;
}

.bg-background {
  background-color: var(--background);
}

.bg-sidebar {
  background-color: var(--sidebar);
}

.bg-primary {
  background-color: var(--primary);
}

.border-primary {
  border-color: var(--primary);
}

input, textarea {
  outline: none;
}

label {
  color: #7c838f;
}
